<div class="text-center modal-form">
  <%= form_for :user, :url => orders_path, :method => "post" do |f| %>
    <%= hidden_field_tag "ticket_id", ticket_id if ticket_id.present? %>

    <div class="form-group row col-sm-8">
      <%= f.label :name, "Nome", class: "col-sm-12 col-form-label" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group row col-sm-8">
      <%= f.label :email, class: "col-sm-12 col-form-label" %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group row col-sm-8">
      <%= f.label :phone, "Telefone", class: "col-sm-12 col-form-label" %>
      <%= f.text_field :phone, class: 'form-control' %>
    </div>

    <div class="form-group row col-sm-8">
      <%= f.submit "Comprar", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
