<%= form_for :user, :url => orders_path, :method => "post" do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "ticket_id", ticket_id if ticket_id.present? %>

  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone, "Telefone" %>
    <%= f.text_field :phone %>
  </div>

  <div class="actions">
    <%= f.submit "Comprar" %>
  </div>
<% end %>
