<!DOCTYPE html>
<html>
  <head>
    <title>iTicket</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/src/js/bootstrap-datetimepicker.js"></script>
    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
  </head>

  <body>
    <%= render "layouts/header"%>
    <% flash.each do |key, value| %>
       <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> text-center"><%= value %></div>
     <% end %>
    <div class="container">
      <div class="nav-items text-center">
        <%= link_to "Eventos", root_path,
          class: "nav-item-left #{'active' if params["controller"] == 'home'}" %>
        |
        <%= link_to "Pedidos", orders_path,
          class: "nav-item-right #{'active' if params["controller"] == 'orders'}" %>
      </div>
      <%= yield %>
      <br /><br />
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
